.main {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 30%;
}

th {
    background-color: lightgray;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 10px;
}

.hourColumn {
    text-align: center;
}

.nameColumn {
    text-align: left;
}
